.dp__theme_light,
.dp__theme_dark {
  /* Colors  */
  --dp-background-color: #fff;
  --dp-text-color: #212121;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #857526;
  --dp-primary-disabled-color: #d8c879;
  --dp-primary-text-color: #f3fef9;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #8c8c8c;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-border-color-focus: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #0c8450;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #4f5452;
  --dp-danger-color: #e21d16;
  --dp-marker-color: #e21d16;
  --dp-tooltip-color: #fafafa;
  --dp-disabled-color-text: #8e8e8e;
  --dp-highlight-color: rgba(9, 96, 58, 0.527);
  --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3);
  --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
  --dp-range-between-border-color: var(--dp-hover-color, #f3f3f3);

  /* Typography */
  --dp-font-family: 'Libre Franklin', sans-serif;
  --dp-font-size: 0.9rem;
  --dp-preview-font-size: 0.8rem;
  --dp-time-font-size: 0.8rem;

  /* Borders */
  --dp-border-radius: 4px;

  /* Buttons */
  --dp-action-buttons-padding: 6px 4px;
}

.dp__input {
  @apply text-grey-700 focus:border-primary-700 disabled:bg-grey-50 disabled:text-grey-400 rounded border py-3 text-sm leading-tight outline-none transition duration-300 ease-in focus:shadow-md;
}

.dp__input::placeholder {
  @apply text-sm text-gray-400;
}

.dp__calendar_header_separator {
  @apply bg-grey-400;
}

.dp__action_button {
  @apply font-sans;
}
